# node_modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Android
/android/.gradle/
/android/app/build/
/android/build/
/android/app/build/outputs/
/android/app/build/intermediates/
/android/local.properties
/android/app/debug
/android/app/release
*.apk
*.keystore

# iOS
/ios/Pods/
/ios/build/
/ios/DerivedData/
/ios/*.xcworkspace

# Misc
.env
*.iml
.idea/
.vscode/
*.swp
*.swo

# Git
*.orig

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# macOS
*.DS_Store
